a{
  cursor: pointer;
}

#footer {
  position: absolute;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 0;
}

.slogan{
  text-decoration: underline;
  text-underline-offset: 8px;
}

#main{
  margin-bottom: 50px;
}
