<div >
  <ul class="container-product-Cards">
    <li class="product-template-Card" *ngFor="let product of products">
      <button (click)="delete(product.id)" >DELETE</button>
        <h2>{{product.name| uppercase}} </h2>
        Details:
      <div>
        <input
          mdbCheckbox
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
          [(ngModel)]="product.includeInBudget"
          (change) = "checkValue($event, product)"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault">budget</label>
      </div>
      <button type="button"  class="btn btn-primary" (click)="openModal(product)">
          <div><span>cost: </span>{{product.cost}}<span>$</span></div>
          <div><span>city: </span>{{product.city}}</div>
          <div><span>scope: </span>{{product.scope}}<span>km</span></div>
          <label class="modal-body-label" for="name">keywords: </label>
          <input class="modal-body-input" id="name" [(ngModel)]="product.keywords" placeholder="keywords">
        </button>
    </li>
  </ul>
</div>
