<div >

  <ul class="container-product-Cards">
    <li class="product-template-Card" *ngFor="let product of products">
      <button (click)="delete(product.id)" >DELETE</button>
        <h2>{{product.name| uppercase}} </h2>
        Details:
        <button type="button"  class="btn btn-primary" (click)="openModal(product)">

          <div><span>id: </span>{{product.id}}</div>
          <div><span>cost: </span>{{product.cost}}<span>$</span></div>
          <div><span>city: </span>{{product.city}}</div>
          <div><span>scope: </span>{{product.scope}}</div>
        </button>
    </li>
  </ul>
</div>
