.control-section {
  margin: 10% 25%;
  width: 250px;
}

.modal-template-container{
  border: grey;
  background: rgb(131,131,163);
  background: linear-gradient(90deg, rgba(102, 163, 232, 0.38) 0%, rgba(115, 191, 239, 0.38) 52%, rgba(77, 153, 222, 0.6) 100%);
  padding: 10px;
  list-style: none;
  margin: 10px;
}

.modal-body-label{
  display: inline-block;
  width: 60px;
  margin-bottom: 5px;

}
