<div class="modal-template-container">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{product.name}}</h5>
  </div>
  <div class="modal-body">
    <label class="modal-body-label" for="cost">cost: </label>
    <input class="modal-body-input" id="cost" [(ngModel)]="product.cost" placeholder="cost">
    <label class="modal-body-label" for="scope">city: </label>
    <ng-select
      class="modal-body-cityDropDownList"
      [items]="cities"
      bindLabel="city"
      bindValue="city"
      [(ngModel)]="product.city"
      placeholder="select city"
    >
    </ng-select>
    <ng-select
      class="modal-body-cityDropDownList"
      [multiple]="true"
      [items]="keywords"
      bindLabel="name"
      [(ngModel)]="product.keywords"
      placeholder="Select Continent"
    >
    </ng-select>
    <label class="modal-body-label" for="scope">scope: </label>
    <input class="modal-body-input" id="scope" [(ngModel)]="product.scope" placeholder="scope"><br>
    <label class="modal-body-label" for="name">name: </label>
    <input class="modal-body-input" id="name" [(ngModel)]="product.name" placeholder="name"><br>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
  </div>

</div>
